:root {
  --white: #f7f7ff;
  --orange: #fc5130;
  --carolina: #279af1;
  --blueblack: #001427;
  --smoky: #131112;
}

body {
  background-color: var(--smoky);
}

.ui.inverted.menu .active.item {
  background-color: var(--orange) !important;
}

#contactForm {
  display: grid !important;
  place-items: center !important;
  color: var(--white) !important;
}

#contactForm label {
  color: var(--white) !important;
  font-size: 20px !important;
}

.error-text {
  color: var(--orange);
  font-size: 2em;
}